Allow common international special characters in emails

The [validate-email Regex](https://github.com/mootools/mootools-more/blob/master/Source/Forms/Form.Validator.js#L487) in Form.Validator blocks special characters that are common in international languages (such as `áéíèàùñÑêÊäÄöÖüÜçÇ`).

Demo: http://jsfiddle.net/bhstahl/sju4nson/2/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11294066-allow-common-international-special-characters-in-emails?utm_campaign=plugin&utm_content=tracker%2F22069&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F22069&utm_medium=issues&utm_source=github).
</bountysource-plugin>

The intention of the validators that come with Form.Validator is to offer often used basic validations, not to be 100% complete.

In case of the email validator (which was created in its current form in [2010][lighthouse-428]), to not make the test too slow and ridiculous, the decision was made to validate against a subset of [RFC5321][]/[RFC5322][]. It's still a pretty broad subset, and arguably broader than most validations out there, but it's incomplete by design. (Mainly: it doesn't validate local parts with quotes, it doesn't allow for IPv6-addresses as domains and it doesn't check for most lengths of parts of the emails.)

The RFCs describing internationalized email addresses were published in 2012 ([RFC6531][]/[RFC6532][]), and only last year major mail [servers][postfix-eai] / [services][gmail-eai] started supporting this, although I don't know how complete this even is right now, or how widespread these server versions are installed right now.

I personally think it's not something we have to worry about in these basic validators, since (like I mentioned) the intention is to supply a basic relatively fast validation, and the email validator is incomplete by design. Everyone can obviously add a more specific/complete version when they need it in their project.

However, if someone can adapt the validator to be more complete in a sufficiently efficient way, it's obviously worth looking at. Another option would be to create a `validate-email-advanced`-validator that *is* complete, however, this is not realistically doable with "just" a regular expression.

[lighthouse-428]: https://mootools.lighthouseapp.com/projects/24057/tickets/428-formvalidator-email-does-not-validate-correctly
[RFC5321]: http://tools.ietf.org/html/rfc5321#section-4.1.2
[RFC5322]: http://tools.ietf.org/html/rfc5322#section-3.4
[RFC6531]: http://tools.ietf.org/html/rfc6531#section-3.3
[RFC6532]: http://tools.ietf.org/html/rfc6532#section-3.1
[postfix-eai]: http://marc.info/?l=postfix-users&m=140544541431076
[gmail-eai]: http://googleblog.blogspot.de/2014/08/a-first-step-toward-more-global-email.html

@bhstahl Just saw your commit:

Only adding `áéíèàùñÑêÊäÄöÖüÜçÇ`-characters creates the impression of supporting internationalized email addresses, while it obviously does not. The characters you mention may be common in your project/language, but when looking at cyrillic, greek or any asian alphabet, "common" is something completely different. Hence I mentioned implementing a more advanced validator for specific projects as a good option.

I close this here also. 
@bhstahl, @timwienk thank you for bringing this discussion up and for good input.